
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Angular Crud</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link data-require="bootstrap@4.0.5" data-semver="4.0.5"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link href="style.css" rel="stylesheet" type="text/css">
    <!-- Java Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<div class="container">
    <hr>

    <h2>Angular 2 QuickStart</h2>

    <button class="a"

            type="button">Current User:trangbg4@gmail.com
    </button>
    <button class="btn btn-info float-md-right" data-target="#myModal" data-toggle="modal"

            type="button"> Add Product
    </button>
    <span class="clearfix"></span>
    <div class="alert alert-success alert-dismissable" ng-if="message">

        <a class="close" href="#" ng-click="clearMessage()"></a>
        <strong>{{message}}!</strong>
    </div>
    <div class="table-responsive" style="...">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Edit</th>
                <th>Delete</th>
                <th>Number</th>
                <th>Product Name</th>
                <th>Product Price</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td>
                    <button class="btn btn-primary btn-sm" data-target="#myModalEdit" data-toggle="modal"
                            ng-click="selectUser(user)" type="button"><i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-warning btn-sm" data-target="#myModalDelete" data-toggle="modal"
                            ng-click="selectUser(user)" type="button"><i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
                <td>{{$index + 1}}.</td>
                <td>{{user . ProductName}}</td>
                <td>{{user . ProductPrice}}</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Save User</h4>
                <button class="close" data-dismiss="modal" type="button">x</button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Product Name</Label>

                        <div class="col-sm-10">
                            <input class="form-control" ng-model="newUser. ProductName" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Product Price</label>
                        <div class="col-sm-10">
                            <input class="form-control" ng-model="newUser . ProductPrice" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="bin btn-success" data-dismiss="modal" ng-click="addUser()" type="submit">Add
                                User
                            </button>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" type="button">close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Edit -->
<div class="modal fade" id="myModalEdit" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Edit User</h4>
                <button class="close" data-dismiss="modal" type="button">x</button>
            </div>
            <div class="modal-body">


                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Product Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" ng-model="clickedUser.ProductName" type="text">
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2"> Product Price</label>
                        <div class="col-sm-10">
                            <input class="form-control" ng-model="clickedUser.ProductPrice" type="text">

                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-sm-offset-2 col-sm-10">
                            <button class="bin btn-success" data-dismiss="modal" ng-click="editUser()"
                                    type="submit">
                                Save Changes
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Delete -->
<div class="modal fade" id="myModalDelete" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-header">
            <h4 class="modal-title">Delete User</h4>
            <button class="close" data-dismiss="modal" type="button"></button>
        </div>

        <div class="modal-body">
            <strong style="background: #2b8ade">Are you sure you want to delete " {{clickedUser. ProductName}} "?</strong>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" ng-click="deleteUser()" type="button">Yes</button>
            <button class="bin btn-default" data-dismiss="modal" type="button">No</button>
        </div>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</body>
</html>
</html>