.btn-group-sm>.btn, .btn-sm{
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 1.0rem;
}
.btn-info{
    color: #d0eaf5;
    background-color: #3cb03c;
    border-color: #ced4da;

}
.a{
    background-color: #2b8ade;
    color: #eeeeee;
}
.btn-warning{
    background-color: red;
}

